@import "../global/header.css";
@import "../global/global.css";
@import "../global/footer.css";

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 120px;
}

.gallery img {
    width: 800px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--standard-border-radius);
}

.gallery img:hover {
    cursor: pointer;
    opacity: 0.9;
}

