@import "../variables/variables.css";

header {
    background-color: var(--primary-color);
    width: 100%;
    /* max-width: var(--standard-width); */
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header #title {
    font-size: var(--h1-size);
    font-weight: 600;
    text-transform: capitalize;
    font-family: var(--logo-font);
	color: var(--dark-color);
    padding-left: 380px;
}

header #test {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--standard-width);
    padding: 0 var(--spacing-md);
    margin: 0 0 var(--spacing-xl) 0;
    box-sizing: border-box;
}

header nav {
    display: inline-block;
    padding-right: 380px;
}

header ul {
    text-transform: capitalize;
    padding: 0;
}

header li {
    display: inline-block;
}

header a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
	color: rgb(70, 70, 70);
    margin-right: 20px;
}

header a.active {
    border-bottom: 1px solid rgb(70, 70, 70);
    padding-bottom: 1;
}