@import "../global/header.css";
@import "../global/global.css";
@import "../global/footer.css";
@import "../variables/variables.css";

.cart-area {
    width: 100vh;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 120px;
}

.empty-cart {
    background-color: var(--primary-color);
    width: 1650px;
    height: 800px;
    border-radius: var(--standard-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--h3-size);
    font-weight: bold;
    color: var(--dark-color);
}



.hide {
    display: none;
}