@import "../variables/variables.css";

.carrosel-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 200%;
}

.carrossel-left img {
    display: none;
    width: 100%;
    object-fit: cover;
    opacity: 0.65;
}

.carrossel-mid img {
    display: none;
    width: 100%;
    object-fit: cover;
}

.carrossel-right img {
    display: none;
    width: 100%;
    object-fit: cover;
    opacity: 0.65;
}

.carrossel-left .active {
    display: block;
}

.carrossel-mid .active {
    display: block;
}

.carrossel-right .active {
    display: block;
}

.carrossel .active {
    display: block;
}

.products {
    color: var(--dark-color);
    background-color: var(--light-color);
    width: 100%;
    max-width: var(--standard-width);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    gap: var(--spacing-md);
}

.products .card_one {
    background-color: var(--primary-color);
    padding: 22px;   
    border-radius: var(--standard-border-radius);
    height: 300px;
}

.products .card_two {
    background-color: var(--primary-color);
    padding: 22px;   
    border-radius: var(--standard-border-radius);
    height: 300px;
}

.products .card_three {
    background-color: var(--primary-color);
    padding: 22px;   
    border-radius: var(--standard-border-radius);
    height: 300px;
}

.products .card_four {
    background-color: var(--primary-color);
    padding: 22px;   
    border-radius: var(--standard-border-radius);
    height: 300px;
}

.products .card_five {
    background-color: var(--primary-color);
    padding: 22px;   
    border-radius: var(--standard-border-radius);
    height: 300px;
}

.products .card_six {
    background-color: var(--primary-color);
    padding: 22px;   
    border-radius: var(--standard-border-radius);
    height: 300px;
}

.products .card_seven {
    background-color: var(--primary-color);
    padding: 22px;   
    border-radius: var(--standard-border-radius);
    height: 300px;
}

.products .card_eight {
    background-color: var(--primary-color);
    padding: 22px;   
    border-radius: var(--standard-border-radius);
    height: 300px;
}

.products .card_one .img {
    height: 200px;
    width: 200px;
    background-image: url("../../img/products/perfume-1-front.webp");
    background-size: cover;
    border-radius: var(--standard-border-radius);
    transition: background-image .2s ease-in-out; 
}

.products .card_one .img:hover {
    cursor: pointer;
    background-image: url("../../img/products/perfume-1-selected.webp");
}

.products .card_two .img{
    height: 200px;
    width: 200px;
    background-image: url("../../img/products/perfume-2-front.png");
    background-size: cover;
    border-radius: var(--standard-border-radius);
    transition: background-image .2s ease-in-out; 
}

.products .card_two .img:hover {
    cursor: pointer;
    background-image: url("../../img/products/perfume-2-selected.png");
}

.products .card_three .img {
    height: 200px;
    width: 200px;
    background-image: url("../../img/products/perfume-3-front.png");
    background-size: cover;
    border-radius: var(--standard-border-radius);
    transition: background-image .2s ease-in-out; 
}

.products .card_three .img:hover {
    cursor: pointer;
    background-image: url("../../img/products/perfume-3-selected.png");
}

.products .card_four .img{
    height: 200px;
    width: 200px;
    background-image: url("../../img/products/perfume-4-front.png");
    background-size: cover;
    border-radius: var(--standard-border-radius);
    transition: background-image .2s ease-in-out; 
}

.products .card_four .img:hover {
    cursor: pointer;
    background-image: url("../../img/products/perfume-4-selected.png");
}

.products .card_five .img {
    height: 200px;
    width: 200px;
    background-image: url("../../img/products/perfume-5-front.png");
    background-size: cover;
    border-radius: var(--standard-border-radius);
    transition: background-image .2s ease-in-out; 
}

.products .card_five .img:hover {
    cursor: pointer;
    background-image: url("../../img/products/perfume-5-selected.png");
}

.products .card_six .img{
    height: 200px;
    width: 200px;
    background-image: url("../../img/products/perfume-6-front.png");
    background-size: cover;
    border-radius: var(--standard-border-radius);
    transition: background-image .2s ease-in-out; 
}

.products .card_six .img:hover {
    cursor: pointer;
    background-image: url("../../img/products/perfume-6-selected.png");
}

.products .card_seven .img {
    height: 200px;
    width: 200px;
    background-image: url("../../img/products/perfume-7-front.png");
    background-size: cover;
    border-radius: var(--standard-border-radius);
    transition: background-image .2s ease-in-out; 
}

.products .card_seven .img:hover {
    cursor: pointer;
    background-image: url("../../img/products/perfume-7-selected.png");
}

.products .card_eight .img{
    height: 200px;
    width: 200px;
    background-image: url("../../img/products/perfume-8-front.png");
    background-size: cover;
    border-radius: var(--standard-border-radius);
    transition: background-image .2s ease-in-out; 
}

.products .card_eight .img:hover {
    cursor: pointer;
    background-image: url("../../img/products/perfume-8-selected.png");
}
