.carrossel img {
    display: none;
    height: 680px;
    width: 100%;
    /* max-width: var(--standard-width); */
    object-fit: cover;
    /* box-sizing: border-box; */
}

.carrossel .active {
    display: block;
}

.products {
    background-color: var(--light-color);
    width: 100%;
    max-width: var(--standard-width);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    gap: 20px;
}

.products .card_one {
    background-color: #fff;
    padding: 22px;   
    border-radius: 5px;
    height: 300px;
}

.products .card_two {
    background-color: #fff;
    padding: 22px;   
    border-radius: 5px;
    height: 300px;
}

.products .card_three {
    background-color: #fff;
    padding: 22px;   
    border-radius: 5px;
    height: 300px;
}

.products .card_four {
    background-color: #fff;
    padding: 22px;   
    border-radius: 5px;
    height: 300px;
}

.products .card_five {
    background-color: #fff;
    padding: 22px;   
    border-radius: 5px;
    height: 300px;
}

.products .card_six {
    background-color: #fff;
    padding: 22px;   
    border-radius: 5px;
    height: 300px;
}

.products .card_seven {
    background-color: #fff;
    padding: 22px;   
    border-radius: 5px; 
    height: 300px;
}

.products .card_eight {
    background-color: #fff;
    padding: 22px;   
    border-radius: 5px;
    height: 300px;
}

.products .card_one h2 {
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
}

.products .card_one .img {
    height: 200px;
    width: 200px;
    background-image: url("../../img/products/perfume-1-front.png");
    background-size: cover;
    border-radius: 6px;
    transition: background-image .2s ease-in-out; 
}

.products .card_one .img:hover {
    cursor: pointer;
    background-image: url("../../img/products/perfume-1-selected.png");
}

.products .card_two .img{
    height: 200px;
    width: 200px;
    background-image: url("../../img/products/perfume-2-front.png");
    background-size: cover;
    border-radius: 6px;
    transition: background-image .2s ease-in-out; 
}

.products .card_two .img:hover {
    cursor: pointer;
    background-image: url("../../img/products/perfume-2-selected.png");
}

.products .card_three .img {
    height: 200px;
    width: 200px;
    background-image: url("../../img/products/perfume-3-front.png");
    background-size: cover;
    border-radius: 6px;
    transition: background-image .2s ease-in-out; 
}

.products .card_three .img:hover {
    cursor: pointer;
    background-image: url("../../img/products/perfume-3-selected.png");
}

.products .card_four .img{
    height: 200px;
    width: 200px;
    background-image: url("../../img/products/perfume-4-front.png");
    background-size: cover;
    border-radius: 6px;
    transition: background-image .2s ease-in-out; 
}

.products .card_four .img:hover {
    cursor: pointer;
    background-image: url("../../img/products/perfume-4-selected.png");
}

.products .card_five .img {
    height: 200px;
    width: 200px;
    background-image: url("../../img/products/perfume-5-front.png");
    background-size: cover;
    border-radius: 6px;
    transition: background-image .2s ease-in-out; 
}

.products .card_five .img:hover {
    cursor: pointer;
    background-image: url("../../img/products/perfume-5-selected.png");
}

.products .card_six .img{
    height: 200px;
    width: 200px;
    background-image: url("../../img/products/perfume-6-front.png");
    background-size: cover;
    border-radius: 6px;
    transition: background-image .2s ease-in-out; 
}

.products .card_six .img:hover {
    cursor: pointer;
    background-image: url("../../img/products/perfume-6-selected.png");
}

.products .card_seven .img {
    height: 200px;
    width: 200px;
    background-image: url("../../img/products/perfume-7-front.png");
    background-size: cover;
    border-radius: 6px;
    transition: background-image .2s ease-in-out; 
}

.products .card_seven .img:hover {
    cursor: pointer;
    background-image: url("../../img/products/perfume-7-selected.png");
}

.products .card_eight .img{
    height: 200px;
    width: 200px;
    background-image: url("../../img/products/perfume-8-front.png");
    background-size: cover;
    border-radius: 6px;
    transition: background-image .2s ease-in-out; 
}

.products .card_eight .img:hover {
    cursor: pointer;
    background-image: url("../../img/products/perfume-8-selected.png");
}
